<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Bank Customer Segmentation API</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- Load css,images, js files from server -->
	{% load static %}
	<!-- Css Styles -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>
<body>


	{% load crispy_forms_tags %}

	<div class="container">
			<div class="row">
					<div class="col-lg-3">
							<div class="header__logo">
									<a href="./index.html"><img src="{% static 'img/logo.jpg' %}" style="width:100px" alt=""></a>
							</div>
					</div>
					<div class="col-lg-9">
							<div class="header__nav">
									<nav class="header__menu">
											<ul>
													<li class="active"><a href="{% url 'home' %}">Home</a></li>
													<li><a href="{% url 'Dashboard' %}">Dashboard</a></li>
													<li><a href="">Prediction Form</a></li>
													<li><a href="#">Services</a>
															<ul class="dropdown">
																	<li><a href="./services.html">Features</a></li>
																	<li><a href="./services-details.html">Services Details</a></li>
																	<li><a href="./blog-details.html">Blog Details</a></li>
															</ul>
													</li>
													<li><a href="./contact.html">Contact</a></li>
											</ul>
									</nav>
									<div class="header__search">
											<i class="fa fa-search search-switch"></i>
									</div>
							</div>
					</div>
			</div>

	<div class = "mx-2 my-5">
		<div class="container-fluid">
			<div class="row" style="background-color:#4169E1"><br></div>
			<div class="row" style="background-color:#bcd2f4">
				<div class="col-sm-8">
					<h5 style="padding:10px;font-weight:bold">Customer Categories Prediction Form</h5>
				</div>


			</div>
      <br>
			<div>

				<img src="{% static 'img/about/figure1.jpg' %}" style="width:800px" alt="">
				<img src="{% static 'img/about/figure2.jpg' %}" style="width:800px" alt="">
				<img src="{% static 'img/about/figure3.jpg' %}" style="width:800px" alt="">

		  </div>

				<div class = "col-6 my-5">
					<form method='post'>
						{% csrf_token %}
						{{form|crispy}}
						<br>
						<button type='submit' class="btn btn-primary">Submit</button>
					</form>
					<br>
				</div>
				<div class="col">
					<div class = "mt-5">
						<h4>
						{% if messages %}
						<ul class="messages">
					    {% for message in messages %}
					    <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
					    <h2 class="alert alert-success" style="font-size:20px;font-weight:bold">{{ message }}</h2> </div>
					    {% endfor %}
						</ul>
						{% endif %}
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
